/* .Content{
    width: 100%;
    height:93vh ;
    background-color:white;
    text-align: center;

}
.Sidebar{
    width: 30%;
    height: 93vh;
    background-color: #bbb;
    float: right;

}
span{
    font-size: 20px;
    color: yellow;
} */
